*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* header part styles starts */
header{
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 950px;
    left: 1600px;
    top: 808px;
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-bottom: 150px;
}
.sub-title{
   margin-top: 216px;
   margin-right: 230px;
   margin-bottom: 24px;
    font-weight: 700;
    font-size: 65px;
    color: #151414;

}
.description{
    margin-right: 230px;
    margin-bottom: 53px;
    line-height: 26px;
    color: #444343;
}
.btn-primary{
    margin-right: 255px;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    background: #F15B22;
    border-radius: 5px;
    border: 0;
    padding: 10px 22px;
}
/* header part styles ends */

/* 1st section style starts */
section{
    display: flex;
}
.img-1{
    width: 569px;
    height: 723.3px;
    left: 206px;
    top: 939px;
    margin-left: 205px;
    margin-bottom: 100px;
}
.section-title{
    margin-top: 300px;
    margin-left: 100px;  
}
.section-sub-title{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 24px;
}
.section-description{
    line-height: 26px;
    color: #444343;
    margin-bottom: 22px;
}
.section-list{
    list-style: circle;
    color: #444343;
    list-style-image: url(../images/icons/rsz_1kisspng-check-mark-computer-icons-customer-service-theme-c-green-tick-5ac32c4de8ab54304129311522740301953.png);
}
.list{
    margin-bottom: 8px;
}
/* 1st section style ends */

/* bonus section styles starts */
.img-2{
    width: 500px;
    height: 700px;
    left: 206px;
    top: 939px;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 130px;
}
.bonus-section-title{
    margin-top: 300px;
    margin-left: 500px;  
}
.bonus-section-sub-title{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 24px;
}
.bonus-description{
    line-height: 26px;
    color: #444343;
    margin-bottom: 22px;
}
/* bonus section styles ends */

/* plan section styles starts */
.plan-title{
    margin-top: 200px;;
    margin-left: 900px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 40px;
}
.full-part{
    display: flex;
    margin-top: 50px;
    gap: 125px;
    margin-left: 450px;
    color: #151414;
}
.plan-sub-title{
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 30px;
    color: #151414;
}
.plan-goal{
    font-weight: 500;
    font-size: 20px;
    color: #737878;
    margin-bottom: 130px;
}
/* plan section styles ends */

/* small banner section styles starts */
.small-banner{
    width: 1130px;
    height: 750px;
    background: url(../images/watch.png), url(../images/gradient2.png);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    margin-left: 420px;
}
.small-banner-part{
    margin-top: 70px;
    margin-left: 70px;
}
.small-banner-title{
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
}
.calling-btn{
    background: #FFFFFF;
    border: 0;
    border-radius: 10px;
    padding: 20px;
    color: #F15B22;
    font-weight: 600;
    font-size: 20px;
    margin-top: 25px;
}
/* small banner section styles ends */

/* footer style starts */
.end-part{
    background-color: #151414;
    width: 100%;
    height: 577px;
}
.footer-writting{
    display: flex;
    gap: 600px;
}
.ending-writting{
    margin-top: 130px;
    margin-left: 230px;
    color: #FFFFFF;
}
.future-type{
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 20px;
}
.descrip{
    margin-bottom: 24px;
}
.mail{
    margin-bottom: 16px;
}
.num{
   margin-bottom: 35px;
}
.input-part{
    margin-top: 130px;
}
.sub-text{
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.email-part{
    padding: 21px 150px 22px 21px;
    margin-bottom: 10px;
    color: #F3F3F3;
}
.sub-btn{
    font-weight: 600;
    font-size: 20px;
    color: #F15B22;
    border-radius: 10px;
    padding: 15px;
}
/* footer style ends */
